* {
  border: 1px solid red;
}

body {
  background-color: lightcyan;
}

.card {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  margin: 25px; 
  box-shadow: 0px 2px 10px 0px grey;
  width: 300px;
  height: 560px;
}

i{
  font-size: 25px;
}

.box1{
  height: 30px;
}

.btnMenu{
  float: left;
}
.docuMent{
  float: right;
}

.profile{
  border-radius: 50%;
  margin: 0 47px;
  box-shadow: 0px 2px 10px 2px grey;
}

.a{ 
  color: rgb(66, 66, 66);
  text-align : center;
  margin-bottom: 0px;
}

.b{
  color: rgb(189, 189, 189);
  text-align : center;
  margin-top: 5px;
  font-size: 12px;
}

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: aqua;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  font-size: 14px;
  width: 200px;
  height: 35px;
  margin: 20px 50px;
  letter-spacing: 1px;
  box-shadow: 5px 6px 10px -3px rgb(177, 236, 236);
}

.facebook {
  display: flex;
  align-items: center;
}

.facebook i{
  float: left;
  font-size: 20px;
  padding: 0px 20px;
}

.facebook p {
  display: inline-block;
  font-size: 14px;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
  margin: 10px 10px;
}

.email{
  display: flex;
  align-items: center;
}

.email i{
  float: left;
  font-size: 20px;
  padding: 0px 20px;
}

.email p {
  display: inline-block;
  font-size: 14px;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
  margin: 10px 10px;
}

.buttons{
  display: block;
  margin: auto;
  margin-top: 30px;
  width: auto;
  height: 40px;
  text-align: center;
}

.buttons > a{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0px 5px;
  padding: 3px;
  
}

.btn1 {
  display: inline-block;
  background-color: aqua;
  box-shadow: 5px 6px 10px -4px aqua;
}

.btn2 {
  display: inline-block;
  background-color: rgb(169, 238, 169);
  box-shadow: 5px 6px 10px -3px rgb(169, 238, 169);

}

.btn3 {
  display: inline-block;
  background-color: rgb(250, 216, 221);
  box-shadow: 5px 6px 10px -3px rgb(250, 216, 221);
}

.btn4 {
  display: inline-block;
  background-color: rgb(199, 161, 199);
  box-shadow: 5px 6px 10px -3px rgb(199, 161, 199);
}